#!/bin/zsh

alias ll='ls -lh'
alias la='ls -lha'

alias grep='grep --color=auto'
alias tab-gvim="gvim -p --remote-tab-silent"

#combine pdf
alias combinepdf='gs -dNOPAUSE -sDEVICE=pdfwrite -sOUTPUTFILE=output.pdf -dBATCH'

# SOCKS proxy tunnel
alias tunnel="'ssh -4fgN -D 8081 -L 8080:localhost:3128 foo"

if [ "$TERM" != "dumb" ]; then
    eval "`dircolors -b`"
    alias ls='ls --group-directories-first --color=auto'
fi

alias pyweb='python -m SimpleHTTPServer'

#Search aliases for something
alias ag='alias | grep -i'

# grep history
alias gh='fc -l 0 | grep'

alias dh='dirs -v'  # directory history

# Find a file with a pattern in name:
# Find a file with pattern $1 in name and Execute $2 on it:
function findExec() { find . -type f -iname '*'$1'*' -exec "${2:-file}" {} \;  ; }

alias fe=findExec

alias mv='nocorrect mv'       # no spelling correction on mv
alias cp='nocorrect cp'
alias mkdir='nocorrect mkdir'

cdWhichDirname() {
	cd $(dirname =$1) 
}
alias wcd=cdWhichDirname

alias spwd='pwd | pbcopy'  # copy the current working directory to the clipboard

alias diffcol="diff -y -W 160" # side by side diff 160 columns wide

## TRAFFIC MONITORING ##

alias tcpf3000='sudo tcpflow -c -i lo0 port 3000'
alias tcpf80='sudo tcpflow -c -i en1 port 80'
alias tcpf8080='sudo tcpflow -c -i lo0 port 8080'

alias tcpd8080="sudo tcpdump -s 0 -A -i lo0 'tcp port 8080 and (((ip[2:2] - ((ip[0]&0xf)<<2)) - ((tcp[12]&0xf0)>>2)) != 0)'"

# Need to use ports to install "wireshark" for this to work
alias tshark8080='sudo tshark -i lo0 -R "tcp.port == 8080" -w -'

# Need to use ports to install "ngrep" for this to work
alias ngrep8080='sudo ngrep -q -l -d lo0 port 8080'

# Need to use ports to install "tcpflow" for this to work
alias tcpf8080='sudo tcpflow -c -i lo0 port 8080'

# show open ports
alias op='lsof -i'

alias nsop='netstat -tunl -p tcp'
